{% load staticfiles %}
<html>
    <head>
        <title>{% block title_head %} Inventory management{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap-theme.min.css' %}">
        <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

{#        <link href="http://getbootstrap.com/examples/jumbotron/jumbotron.css" rel="stylesheet">#}
    </head>
    <body>
        {% include 'header.html' %}
        <div class="jumbotron">
            <div class="container">
                <h1>{% block title %} {% endblock %}</h1>
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <div class="container">
            <footer>
                <p><a href="mailto:jmkaluzka@gmail.com">&copy; Justyna Kałużka</a></p>
            </footer>
        </div>


    </body>
</html>